BasedOnStyle: LLVM
Language: Cpp
UseTab: ForIndentation
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
BreakBeforeBraces: Allman
ColumnLimit: 0
PointerAlignment: Left
DerivePointerAlignment: false
SortIncludes: Never
IndentCaseLabels: true
IndentPPDirectives: None
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
